
@{
	ViewData["Title"] = "Game";
}


<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<h1>Game</h1>
		<link rel="stylesheet" href="~/css/main.css" />
		<noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-gem"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>Game</h1>
								<p>Choose the size of the map:</p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#intro">3x3</a></li>
								<li><a href="#work">4x4</a></li>
								<li><a href="#about">5x5</a></li>
								<li><a href="/Home">Home</a></li>
								<!--<li><a href="#elements">Elements</a></li>-->
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Gameplay (intro) -->
							<article id="intro">
								<h2 class="major">3x3</h2>
								<span class="image main"><img src="images/child.png" alt="" /></span>
								
								<p><a href="/LightsOff3">For kids</a></p>
								
							</article>

						<!-- Work -->
							<article id="work">
								<h2 class="major">4x4</h2>
								<span class="image main"><img src="images/medium.jpg" alt="" /></span>
								
								<p><a href="/LightsOff4">Medium level</a></p>
							</article>

						<!-- About -->
							<article id="about">
								<h2 class="major">5x5</h2>
								<span class="image main"><img src="images/hard.jpg" alt="" /></span>
								
								<p><a href="/LightsOff5">EPIC HARD, BUGAGAAA!!!</a></p>
							</article>					
					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Danyil Yedelkin.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="~/js/jquery.min.js"></script>
			<script src="~/js/browser.min.js"></script>
			<script src="~/js/breakpoints.min.js"></script>
			<script src="~/js/util.js"></script>
			<script src="~/js/main.js"></script>

	</body>
</html>
